#customers
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:80%;
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;

}
#customers td, #customers th
{
    font-size:1.1em;
    border:1px solid #98bf21;
    padding:2px 7px 7px 5px;
}
#customers th
{
    font-size:1em;
    text-align:left;
    padding-top:20px;
    padding-bottom:10px;
    background-color:#A7C942;
    color:#ffffff;
    width:50px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.alsp {
    text-align: center;
    font-size: 20px;
}
.input-group input-group-sm{
    width:300px;margin:0 auto;height:45px
}

input[type="text"]{
    width:300px;
    margin:0 auto;
    height:70px;
}