<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="https://cdn.bootcss.com/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="https://cdn.bootcss.com/Director/1.2.8/director.min.js"></script>
    <link href="/static/app.css" rel="stylesheet">
</head>
<!--初始化脚本-->
<script>
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = 2000;
    window.onload = function () {
        if ("{:session('uid')}") {
            $('#login').hide();
            $('#username').text("{:session('name')}");
            let roles = "{:json_encode(session('user_roles'))}";
            roles = JSON.parse(roles);
            if (roles.indexOf(1) == -1)
                $('#sys').hide();
        } else
            $('#logout').hide();
    };
</script>
<body>
<!--导航条-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="/static/logo.png" height="50">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{:url('index/index')}">同路人教育</a></li>
                <li><a href="{:url('enroll/index')}">报名管理</a></li>
                <li class="dropdown" id="edu">
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true"
                       aria-expanded="false" data-hover="dropdown">教务管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="min-width:0">
                        <li><a href="{:url('student/index')}">学生管理</a></li>
                        <li><a href="{:url('teacher/index')}">教师管理</a></li>
                        <li><a href="{:url('course/index')}">课程管理</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="fin">
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true"
                       aria-expanded="false" data-hover="dropdown">财务管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="min-width:0">
                        <li><a href="{:url('pay/index')}">缴费管理</a></li>
                        <li><a href="{:url('refund/index')}">退费管理</a></li>
                        <li><a href="{:url('invoice/index')}">发票管理</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="sys">
                    <a href="{:url('system/index')}" class="dropdown-toggle" role="button" aria-haspopup="true"
                       aria-expanded="false" data-hover="dropdown">系统管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="min-width:0">
                        <li><a href="{:url('user/index')}">用户管理</a></li>
                        <li><a href="{:url('permission/index')}">权限管理</a></li>
                        <li><a href="{:url('role/index')}">角色管理</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="username"></a></li>
                <li id="login"><a href="{:url('index/login')}">登录</a></li>
                <li id="logout"><a href="{:url('index/logout')}">注销</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="jumbotron">
        <h1>欢迎您，{:session('name')}</h1>
        <h3>系统公告</h3>
        <p style="padding: 0 0 0 50px">{$announce}</p>
    </div>
    <!--待办事项小工具-->
    <div>
        <section id="todoapp">
            <header id="header">
                <input id="new-todo" placeholder="待办事项 回车增加 点击编辑" autofocus>
            </header>
            <section id="main">
                <input id="toggle-all" type="checkbox">
                <label for="toggle-all">标记全部为已完成</label>
                <ul id="todo-list"></ul>
            </section>
            <footer id="footer"></footer>
        </section>
        <script id="todo-template" type="text/x-handlebars-template">
            {{#this}}
            <li {{#if status}} class="status" {{/if}} data-id="{{id}}">
            <div class="view">
                <input class="toggle" type="checkbox" {{#if status}}checked{{/if}}>
                <label data-tooltip="Refresh" data-tooltip-stickto="right" data-tooltip-color="gulf">{{content}}</label>
                <button class="destroy"></button>
            </div>
            <input class="edit" value="{{content}}">
            </li>
            {{/this}}
        </script>
        <script id="footer-template" type="text/x-handlebars-template">
            <span id="todo-count"><strong>{{activeTodoCount}}</strong>事项进行中</span>
            <ul id="filters">
                <li>
                    <a {{#eq filter 'all'}} class="selected" {{/eq}} href="#/all">所有</a>
                </li>
                <li>
                    <a {{#eq filter 'active'}} class="selected" {{/eq}} href="#/active">进行</a>
                </li>
                <li>
                    <a {{#eq filter 'completed'}} class="selected" {{/eq}} href="#/completed">完成</a>
                </li>
            </ul>
            {{#if completedTodos}}
            <button id="clear-completed">清除已完成</button>{{/if}}
        </script>
    </div>
</div>
</body>
<script>
    jQuery(function ($) {
        'use strict';
        Handlebars.registerHelper('eq', function (a, b, options) {
            return a === b ? options.fn(this) : options.inverse(this);
        });
        var ESCAPE_KEY = 27,
            ENTER_KEY = 13;

        var App = {
            // 初始化
            init: function () {
                // 获取事项
                this.getTodos();
                this.todoTemplate = Handlebars.compile($('#todo-template').html());
                this.footerTemplate = Handlebars.compile($('#footer-template').html());
                this.bindEvents();

                // 客户端路由
                new Router({
                    '/:filter': function (filter) {
                        this.filter = filter;
                        this.render();
                    }.bind(this)
                }).init('/all');
            },

            // 获取数据
            getTodos: function () {
                var that = this;
                $.ajax({
                    url: "{:url('index/todos')}",
                    type: 'GET',
                    dataType: 'json',
                    data: {"uid": "{:session('uid')}"},
                    async: false,
                    success: function (msg) {
                        that.todos = msg;
                    },
                    error: function (err) {
                        console.log('数据请求错误，请检查网络')
                    }
                });
            },

            // 数据添加 修改
            editTodos: function (data) {
                $.ajax({
                    url: "{:url('index/mod')}",
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    async: false,
                    success: function (msg) {
                    },
                    error: function (err) {
                        console.log('数据请求错误，请检查网络')
                    }
                });
            },

            // 删除
            del: function (id) {
                var that = this;
                $.ajax({
                    url: "{:url('index/del')}",
                    type: 'POST',
                    dataType: 'json',
                    data: {"id": id},
                    async: false,
                    success: function (msg) {
                        that.todos = msg;
                    },
                    error: function (err) {
                        console.log('数据请求错误，请检查网络')
                    }
                });
            },

            // 事件
            bindEvents: function () {
                $('#new-todo').on('keyup', this.create.bind(this));
                $('#toggle-all').on('change', this.toggleAll.bind(this));
                $('#footer').on('click', '#clear-completed', this.destroyCompleted.bind(this));
                $('#todo-list')
                    .on('change', '.toggle', this.toggle.bind(this))
                    .on('click', 'label', this.editingMode.bind(this))
                    .on('keyup', '.edit', this.editKeyup.bind(this))
                    .on('focusout', '.edit', this.update.bind(this))
                    .on('click', '.destroy', this.destroy.bind(this));
            },

            // 处理数据
            render: function () {
                var todos = this.getFilteredTodos();
                $('#todo-list').html(this.todoTemplate(todos));
                $('#main').toggle(todos.length > 0);
                $('#toggle-all').prop('checked', this.getActiveTodos().length === 0);
                this.renderFooter();
                $('#new-todo').focus();
            },

            // 当事项存在,底部选项显示，事项为零,底部隐藏
            renderFooter: function () {
                var todoCount = this.todos.length;
                var activeTodoCount = this.getActiveTodos().length;
                var template = this.footerTemplate({
                    activeTodoCount: activeTodoCount,
                    completedTodos: todoCount - activeTodoCount,
                    filter: this.filter
                });
                $('#footer').toggle(todoCount > 0).html(template);
            },

            // 标记全部事项为已完成，或未完成
            toggleAll: function (e) {
                var that = this;
                var isChecked = $(e.target).prop('checked');
                var status;

                if (isChecked) {
                    status = 1;
                } else {
                    status = 0
                }
                this.todos.forEach(function (todo) {
                    todo.status = status;
                    var data = {
                        id: todo.id,
                        status: status
                    };
                    that.editTodos(data);
                });

                this.render();
            },

            // 获取 正在进行中的事项
            getActiveTodos: function () {
                return this.todos.filter(function (todo) {
                    return !todo.status;
                });
            },

            // 获取已完成事项
            getCompletedTodos: function () {
                return this.todos.filter(function (todo) {
                    return todo.status;
                });
            },

            // 过滤
            getFilteredTodos: function () {
                // 进行中事项
                if (this.filter === 'active')
                    return this.getActiveTodos();

                // 已完成事项
                if (this.filter === 'completed')
                    return this.getCompletedTodos();

                // 全部事项
                return this.todos;
            },
            // 清除已完成
            destroyCompleted: function () {
                var that = this;
                this.comleted = this.getCompletedTodos();
                this.filter = 'all';
                this.comleted.forEach(function (todo) {
                    that.del(todo.id)
                });
                this.getTodos();
                this.render();
            },

            // 接受 `.item`  的div元素
            // 返回  'todos' 数组中相应索引
            getIndexFromEl: function (el) {
                var id = $(el).closest('li').data('id');
                var todos = this.todos;
                var i = todos.length;
                while (i--)
                    if (todos[i].id === id)
                        return i;
            },

            // 添加新的待办事项
            create: function (e) {
                var $input = $(e.target);
                var val = $input.val().trim();
                var data = {
                    content: val,
                    status: 0,
                    user_id: "{:session('uid')}"
                };

                // 判断是否按下 enter健 且 input 值是否为空
                if (e.which !== ENTER_KEY || !val) {
                    return;
                }

                // 不为空  则将新添加的待办事项 push 到 'todos' 数组里
                this.editTodos(data);

                // 重置 input
                $input.val('');
                this.getTodos();
                this.render();
            },

            // 标记单个事项为完成，或未完成
            toggle: function (e) {
                var i = this.getIndexFromEl(e.target);
                var status = this.todos[i].status;

                if (status == 0) {
                    this.todos[i].status = 1;
                } else if (status == 1) {
                    this.todos[i].status = 0;
                }
                var data = {
                    id: this.todos[i].id,
                    status: this.todos[i].status
                };
                this.editTodos(data);
                this.getTodos();

                this.render();
            },

            // 单击编辑
            editingMode: function (e) {
                var $input = $(e.target).closest('li').addClass('editing').find('.edit');
                var val = $input.val();
                $input.val('').focus().val(val);
            },

            // 保存编辑或退出编辑
            editKeyup: function (e) {
                if (e.which === ENTER_KEY) {
                    e.target.blur();
                }

                if (e.which === ESCAPE_KEY) {
                    $(e.target).data('abort', true).blur();
                }
            },

            // 更新数据
            update: function (e) {
                var $el = $(e.target);
                var val = $el.val().trim();
                var i = this.getIndexFromEl($el);
                if (!val) {
                    this.destroy(e);
                    return;
                }

                if ($el.data('abort')) {
                    $el.data('abort', false);
                } else {
                    this.todos[i].content = val;
                }
                var data = {
                    id: this.todos[i].id,
                    user_id: "{:session('uid')}",
                    content: val,
                };
                this.editTodos(data);
                this.render();
            },

            // 销毁数据
            destroy: function (e) {
                var i = this.getIndexFromEl(e.target),
                    id = this.todos[i].id;
                this.del(id);
                this.getTodos();

                this.render();
            }
        };

        // 初始化页面
        App.init();
    });
</script>
</html>
