<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/1.css">
    <link rel="stylesheet" href="/static/sticky-footer-navbar.css">
    <title>{$qjwb->title} 钱江晚报 新闻搜索</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="钱江晚报 新闻搜索 关键词">
    <meta name="description" content="基于python爬虫的新闻爬取，结巴中文分词，和PHP动态页面展示的项目">
    <meta name="author" content="nono.coco.leo">
    <script src="/static/statistics.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-x sticky-top" style="z-index:100">
    <a class="navbar-brand">新闻搜索</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link">钱江晚报</a>
        </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" action="/index.php/news/qjwb/ser" method="get">
        <input class="form-control mr-sm-2" type="text" placeholder="日期" aria-label="Search"
               name="date">
        <input class="form-control mr-sm-2" type="text" placeholder="关键词" aria-label="Search"
               name="keyword">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
</nav>
<br>
<div class="container bg-light">
    <h3 class="text-center">{$qjwb->title}</h3>
    <h5 class="text-center">{$qjwb->sub}</h5>
    <h6 class="text-center">钱江晚报&nbsp;&nbsp;{$date}&nbsp;&nbsp;{$qjwb->key1}&nbsp;&nbsp;{$qjwb->key2}&nbsp;&nbsp;{$qjwb->key3}</h6>
    <div>{$qjwb->content}</div>
    <br>
    <ul class="list-inline text-right">
        <li class="list-inline-item"><a href="{$string}" class="card-link">返回上级</a></li>
        <li class="list-inline-item"><a target="_blank" href="{$qjwb->url}" class="card-link">查看原文</a></li>
    </ul>
</div>

<br>
<footer class="footer">
    <div class="container text-center">
        <a class="btn btn-light" target="_blank"
           href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010302002874">
            <img src="/static/gov.png"/>浙公网安备33010302002874号
        </a>
        <a class="btn btn-light" target="_blank" href="http://www.miibeian.gov.cn">
            浙ICP备17020201号-1
        </a>
    </div>
</footer>
<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="/static/bootstrap/js/popper.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/1.js"></script>
</body>
</html>
