<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="https://cdn.bootcss.com/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.js"></script>
</head>
<script>
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = 2000;
    window.onload = function () {
        if ("{:session('uid')}") {
            $('#login').hide();
            $('#username').text("{:session('name')}");
            let roles = "{:json_encode(session('user_roles'))}";
            if (roles.indexOf(1) == -1)
                $('#sys').hide();
        } else
            $('#logout').hide();
    };
</script>
<body>
<!--导航条-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="/static/logo.png" height="50">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{:url('index/index')}">同路人教育</a></li>
                <li><a href="{:url('enroll/index')}">报名管理</a></li>
                <li class="dropdown" id="edu">
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true"
                       aria-expanded="false" data-hover="dropdown">教务管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="min-width:0">
                        <li><a href="{:url('student/index')}">学生管理</a></li>
                        <li><a href="{:url('teacher/index')}">教师管理</a></li>
                        <li><a href="{:url('course/index')}">课程管理</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="fin">
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true"
                       aria-expanded="false" data-hover="dropdown">财务管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="min-width:0">
                        <li><a href="{:url('pay/index')}">缴费管理</a></li>
                        <li><a href="{:url('refund/index')}">退费管理</a></li>
                        <li><a href="{:url('invoice/index')}">发票管理</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="sys">
                    <a href="{:url('system/index')}" class="dropdown-toggle" role="button" aria-haspopup="true"
                       aria-expanded="false" data-hover="dropdown">系统管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="min-width:0">
                        <li><a href="{:url('user/index')}">用户管理</a></li>
                        <li><a href="{:url('permission/index')}">权限管理</a></li>
                        <li><a href="{:url('role/index')}">角色管理</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="username"></a></li>
                <li id="login"><a href="{:url('index/login')}">登录</a></li>
                <li id="logout"><a href="{:url('index/logout')}">注销</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <!--页眉-->
    <div class="row page-header">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>员工列表</h3>
        </div>
        <form method="get" id="ser" action="{:url('user/search')}">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="input-group" style="margin-top: 17px">
                    <input type="text" id="name1" name="name" class="form-control" placeholder="请输入员工姓名"
                           aria-describedby="basic-addon2" value="{$name}">
                    <span class="input-group-addon" style="cursor:pointer" id="basic-addon2" onclick="ser()">搜索</span>
                </div>
            </div>
        </form>
        <div style="margin-top: 17px">
            &nbsp;
            <button class="btn btn-success" onclick="add()">添加员工</button>
        </div>
    </div>
    <!--列表-->
    <div>
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <td class="text-center">编号</td>
                <td class="text-center">用户名</td>
                <td class="text-center">姓名</td>
                <td class="text-center">角色</td>
                <td class="text-center">状态</td>
                <td class="text-center">操作</td>
            </tr>
            </thead>
            <tbody>
            <form action="{:url('user/setRole')}" method="post">
                {volist id="item" name="users"}
                <tr>
                    <td class="text-center">{$item->uid}</td>
                    <td class="text-center">{$item->uname}
                    </td>
                    <td class="text-center">
                        <div id="name{$item->uid}" style="display: inline;">{$item->name}
                        </div>&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-pencil" style="cursor:pointer"
                              onclick="changeName('{$item->uid}','{$item->name}')"></span>
                    </td>
                    <td class="text-center">
                        {volist id="role" name="roles"}
                        <input type="checkbox" name="roles[]" value="{$item->uid}_{$role->id}" {php} if(in_array($role->id,$item->userRoles))
                        echo 'checked';{/php} />{$role->name}
                        {/volist}
                    </td>
                    <td class="text-center">
                        {switch name="$item->delflag"}
                        {case value="0"}正常{/case}
                        {default}锁定
                        {/switch}
                    </td>
                    <td class="text-center">
                        {if condition="$item->uid!=session('uid')"}
                        <a href="{:url('user/lockOne')}?uid={$item->uid}" method="post">
                            <input type="hidden" name="uid" value="{$item->uid}">
                            <button type="button" class="btn btn-xs btn-default">
                                {switch name="$item->delflag"}
                                {case value="0"}锁定{/case}
                                {default}解锁
                                {/switch}
                            </button>
                        </a>
                        {/if}
                    </td>
                </tr>
                {/volist}
                <tr>
                    <td colspan="6">
                        <button type="submit" style="width: 100%" class="btn btn-success">保存修改</button>
                    </td>
                </tr>
            </form>
            </tbody>
        </table>
    </div>
    <!--分页-->
    <div style="text-align:center;">
        {$page}
    </div>
</div>
<!-- 用户信息的modal -->
<div>
    <!-- 添加用户的modal -->
    <div class="modal fade" tabindex="-1" id="myModal1" role="dialog">
        <form id="add-user-form" class="form-group" action="{:url('user/registerHandle')}" method="post">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="display: inline;">添加用户</h4>
                        <button type="button" class="close" style="display: inline;" data-dismiss="modal"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div id="uname_check">
                            用户名 * :
                            <input type="text" class="form-control" name="uname" id="uname" placeholder="用户名" required>
                        </div>
                        <div id="name_check">
                            姓名 * :
                            <input type="text" class="form-control" name="name" id="name2" placeholder="姓名">
                        </div>
                        <div id="passwd_check">
                            密码 * :
                            <input type="password" class="form-control" name="passwd" id="passwd" placeholder="密码"
                                   required>
                        </div>
                        <div id="passwd2_check">
                            确认密码 * :
                            <input type="password" class="form-control" name="passwd2" id="passwd2" placeholder="确认密码"
                                   required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <input type="button" class="btn btn-primary" value="添加" onclick="check()">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->
    <!-- 修改姓名的modal -->
    <div class="modal fade" tabindex="-1" id="myModal2" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="display: inline;">添加用户</h4>
                    <button type="button" class="close" style="display: inline;" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    姓名:
                    <input type="text" class="form-control" name="name" id="newname" placeholder="姓名">
                    <input type="hidden" class="form-control" name="uid" id="olduid" placeholder="姓名">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <input type="button" class="btn btn-primary" value="保存" onclick="submit()">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
<script type="text/javascript">
    function ser() {
        if ($('#name1').val())
            $('#ser').submit();
        else
            window.location.href = "{:url('user/index')}";
    }

    function check() {
        $('#uname_check').removeClass("has-error");
        $('#name_check').removeClass("has-error");
        $('#passwd_check').removeClass("has-error");
        $('#passwd2_check').removeClass("has-error");
        var uname = $('#uname').val();
        var name = $('#name2').val();
        var passwd = $('#passwd').val();
        var passwd2 = $('#passwd2').val();
        if (name & uname && passwd && (passwd == passwd2))
            $('#add-user-form').submit();
        else {
            if (!uname)
                $('#uname_check').addClass("has-error");
            if (!name)
                $('#name_check').addClass("has-error");
            if (!passwd)
                $('#passwd_check').addClass("has-error");
            if (passwd != passwd2) {
                $('#passwd2_check').addClass("has-error");
                toastr.error('两次输入密码不一致');
                $('#passwd').attr('type', "text");
                $('#passwd2').attr('type', "text");
            }
            toastr.error('表单红色字段有误请确认后再提交');
            return false;
        }
    }

    function changeName(uid, name) {
        $('#myModal2').modal();
        $('#newname').val(name);
        $('#olduid').val(uid);
    }

    function submit() {
        $('#myModal2').modal('hide');
        let name = $('#newname').val();
        let uid = $('#olduid').val();
        let data = {
            name: name,
            uid: uid
        };
        $.ajax({
            type: "POST",
            url: "{:URL('tlr/user/changeName','','')}",
            data: data,
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    toastr.success("操作成功");
                    $('#name' + uid).html(name);
                } else {
                    alert(data.msg)
                }
            }
        });
    }

    function add() {
        $('#uname_check').removeClass("has-error");
        $('#name_check').removeClass("has-error");
        $('#passwd_check').removeClass("has-error");
        $('#passwd2_check').removeClass("has-error");
        $('#passwd').attr('type', "password");
        $('#passwd2').attr('type', "password");
        $('#myModal1').modal();
    }
</script>
</html>
