<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{:url('index')}">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="{:url('student/index')}">student</a></li>
                <li><a href="{:url('teacher/index')}">teacher</a></li>
                <li><a href="{:url('user/index')}">员工管理</a></li>
                <li class="active"><a href="{:url('user/role')}">角色管理</a></li>
                <li><a href="{:url('user/permission')}">权限管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{:url('index/login')}" style="display: <?php if(session('uid')) echo 'none';?>;">登录</a></li>
                <li><a href="{:url('index/logout')}" style="display: <?php if(!session('uid')) echo 'none';?>;">注销</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">

    <form action="{:url('user/setPermissionHandle')}" method="post">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h3>为{$role['name']}分配权限</h3>
            </div>
        </div>

        <div>
            <div class="panel-group" id="accordion">
                {volist id="controller" name="controllers"}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{$controller->cid}" aria-expanded="true" aria-controls="collapseOne{$controller->cid}">
                            <div class="col-md-11 col-sm-11 col-lg-11">
                              <h4 class="panel-title">
                                <a>
                                  {$controller->name}
                                </a>
                              </h4>
                          </div>
                          <div class="col-md-1 col-sm-1 col-lg-1">
                              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                          </div>
                      </div>
                    </div>
                    <div id="collapseOne{$controller->cid}" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="table table-striped table-hover table-condensed">
                            <thead>
                            <tr>
                                <td class="text-center">编号</td>
                                <td class="text-center">名称</td>
                                <td class="text-center">路径</td>
                                <td class="text-center">描述</td>
                                <td class="text-center">状态</td>
                                <td class="text-center">创建时间</td>
                                <td class="text-center">
                                    <?php $flag=1; foreach($controller['permissions'] as $key => $value) $flag*=$value['have'];?>
                                    <input type="checkbox" id="selectAllBtn{$controller->cid}" onclick="selectAll('{$controller->cid}')" <?php if($flag==1) echo 'checked';?> />全选
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            {volist id="item" name="controller.permissions"}
                            <tr>
                                <td class="text-center">{$item->id}</td>
                                <td class="text-center">{$item->name}</td>
                                <td class="text-center">{$item->path}</td>
                                <td class="text-center">{$item->description}</td>
                                <td class="text-center">{$item->status}</td>
                                <td class="text-center">{$item->create_time}</td>
                                <td class="text-center">
                                    <input type="checkbox" level="checkbox{$controller->cid}" name="permissions[]" value="{$item->id}" <?php if($item->have==1) echo 'checked';?> />分配权限
                                    
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                      </div>
                </div>

                </div>
                {/volist}
              
            </div>
            <input type="hidden" name="role_id" value="{$role['id']}">
            <input type="submit" name="" value="保存修改" class="btn btn-success" style="width:100%; margin-top: 10px;">
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    function selectAll(id) {
        if($("#selectAllBtn"+id).attr('checked')){
            $("#selectAllBtn"+id).removeAttr("checked");
            $("input[level='checkbox"+id+"']").removeAttr("checked");
        } else {
            $("#selectAllBtn"+id).attr('checked','checked');
            $("input[level='checkbox"+id+"']").attr("checked","true"); 
        }
        // body...
    }
    // $(function () {
    //     $('input[level=1]').click(function() {
    //         var inputs = $(this).parents('table').find('input[type=\'checkbox\']');
    //         console.log(inputs.length);
    //         alert($(this).attr("checked"));
    //         // $(this).attr('checked')? inputs.attr('checked', 'checked') : 
    //         // inputs.removeAttr('checked');
    //     });
    // });
</script>
</html>
