<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{:url('index')}">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="{:url('student/index')}">student</a></li>
                <li><a href="{:url('teacher/index')}">teacher</a></li>
                <li><a href="{:url('user/index')}">用户管理</a></li>
                <li class="active"><a href="{:url('user/role')}">角色管理</a></li>
                <li><a href="{:url('user/permission')}">权限管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{:url('index/login')}" style="display: <?php if(session('uid')) echo 'none';?>;">登录</a></li>
                <li><a href="{:url('index/logout')}" style="display: <?php if(!session('uid')) echo 'none';?>;">注销</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>为{$role['name']}分配权限</h3>
        </div>
    </div>

    <div>
        <form action="{:url('user/setPermissionHandle')}" method="post">
        {volist id="item" name="permissions"}
        <input type="checkbox" name="permissions[]" value="{$item->id}" <?php if($item->have==1) echo 'checked';?> />{$item->name}
        {/volist}
        <input type="hidden" name="role_id" value="{$role['id']}">
        <br>
        <input type="submit" name="" value="保存修改" class="btn btn-primary">
        </form>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</html>
