<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>班级信息</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.js"></script>
    <link href="https://cdn.bootcss.com/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>
</head>
<!--初始化脚本-->
<script>
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = 2000;
    window.onload = function () {
        if ("{:session('uid')}")
            $('#login').hide();
        else
            $('#logout').hide();
        $('#send').hide();
        $('#ret').hide();
    };
</script>
<body>
<!--导航条-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="/static/logo.png" height="50">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{:url('index/index')}">同路人教育</a></li>
                <li><a href="{:url('enroll/index')}">报名管理</a></li>
                <li class="dropdown" id="edu">
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true"
                       aria-expanded="false" data-hover="dropdown">教务管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="min-width:0">
                        <li><a href="{:url('student/index')}">学生管理</a></li>
                        <li><a href="{:url('teacher/index')}">教师管理</a></li>
                        <li><a href="{:url('course/index')}">课程管理</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="fin">
                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true"
                       aria-expanded="false" data-hover="dropdown">财务管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="min-width:0">
                        <li><a href="{:url('pay/index')}">缴费管理</a></li>
                        <li><a href="{:url('refund/index')}">退费管理</a></li>
                        <li><a href="{:url('invoice/index')}">发票管理</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="sys">
                    <a href="{:url('system/index')}" class="dropdown-toggle" role="button" aria-haspopup="true"
                       aria-expanded="false" data-hover="dropdown">系统管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="min-width:0">
                        <li><a href="{:url('user/index')}">用户管理</a></li>
                        <li><a href="{:url('permission/index')}">权限管理</a></li>
                        <li><a href="{:url('role/index')}">角色管理</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="username"></a></li>
                <li id="login"><a href="{:url('index/login')}">登录</a></li>
                <li id="logout"><a href="{:url('index/logout')}">注销</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--页面主体-->
<div id="app" class="container">
    <div>
        <h3>课程信息</h3>
        <li>编号：{$course->cid}</li>
        <li>名称：{$course->cname}</li>
        <li>日期：{$course->date}</li>
        <li>时间：{$course->time}</li>
        <li>学期：{$course->name}</li>
        <li>校区：{switch name="$course->campus"}
            {case value="1"}杨浦{/case}
            {case value="2"}徐汇{/case}
            {default}{/default}
            {/switch}
        </li>
        <li>教室：{$course->room}</li>
        <li>教师：{$course->tname}</li>
        <li>电话：{$course->phone}</li>
    </div>
    <!--列表-->
    <div>
        <form action="{:url('enroll/attend')}" method="POST" id="form">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <td class="text-center" width="5%">学号</td>
                    <td class="text-center" width="10%">姓名</td>
                    <td class="text-center" width="15%">电话</td>
                    <td class="text-center" width="5%">1</td>
                    <td class="text-center" width="5%">2</td>
                    <td class="text-center" width="5%">3</td>
                    <td class="text-center" width="5%">4</td>
                    <td class="text-center" width="5%">5</td>
                    <td class="text-center" width="5%">6</td>
                    <td class="text-center" width="5%">7</td>
                    <td class="text-center" width="5%">8</td>
                    <td class="text-center" width="5%">9</td>
                    <td class="text-center" width="5%">10</td>
                    <td class="text-center hi">参加次数</td>
                </tr>
                </thead>
                <tbody>
                {volist id="en" name="enroll"}
                <tr>
                    <td class="text-center">{$en->sid}</td>
                    <td class="text-center">{$en->sname}</td>
                    <td class="text-center">{$en->tel}</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center
 hi"><span class="attend">{$en->attend}</span><input value="{$en->attend}" type="hidden"
                                                     name="eid[{$en->eid}]">
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </form>
    </div>
    <div>
        <button class="btn btn-success" id="mod" onclick="mod()">修改</button>
        <button class="btn btn-success" id="send" onclick="$('form').submit();">提交</button>
        <button class="btn btn-warning" id="ret" onclick="ret()">返回</button>
        <button class="btn btn-primary" id="print" onclick="toprint()">打印</button>
    </div>
</div>
</body>
<script>
    function mod() {
        $('.attend').text(null);
        $(':input').attr("type", "number");
        $('#mod').hide();
        $('#print').hide();
        $('#send').show();
        $('#ret').show();
    }

    function toprint() {
        $('#mod').hide();
        $('#send').hide();
        $('#print').hide();
        $('#ret').hide();
        $('.hi').hide();
        window.print();
        $('#mod').show();
        $('#print').show();
        $('.hi').show();
    }

    function ret() {
        window.location.reload();
    }
</script>
</html>
