<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师信息</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div id="app" class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>教师信息</h3>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="input-group" style="margin-top: 6px">
                <input type="text" class="form-control" placeholder="请输入教师姓名" aria-describedby="basic-addon2"
                       v-model="searchSname">
                <span class="input-group-addon" id="basic-addon2" @click="search(searchSname)">搜索</span>
            </div>
        </div>
        <div style="margin-top: 6px">
            &nbsp;
            <button class="btn btn btn-success" @click="newStudent()">添加教师</button>
        </div>
    </div>

    <div>
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <td class="text-center">编号</td>
                <td class="text-center">姓名</td>
                <td class="text-center">学校</td>
                <td class="text-center">电话</td>
                <td class="text-center">费用</td>
                <td class="text-center">操作</td>
            </tr>
            </thead>
            <tbody>
            {volist id="teacher" name="teacher"}
            <tr>
                <td class="text-center">{$teacher->tid}</td>
                <td class="text-center">{$teacher->tname}</td>
                <td class="text-center">{$teacher->school}</td>
                <td class="text-center">{$teacher->phone}</td>
                <td class="text-center">{$teacher->price}</td>
                <td class="text-center">
                    <button class="btn btn-xs btn-success" @click="open(index)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>

<div style="text-align:center;">
    {$page}
</div>
</body>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</html>

