<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>教师信息</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div id="app" class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>教师信息</h3>
        </div>
        <form method="get" id="ser" action="./search">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="input-group" style="margin-top: 6px">
                    <!--TODO 保持搜索，点击清空-->
                    <input type="text" id="name" name="name" class="form-control" placeholder="请输入教师姓名"
                           aria-describedby="basic-addon2">
                    <span class="input-group-addon" style="cursor:pointer" id="basic-addon2" onclick="ser()">搜索</span>
                </div>
            </div>
        </form>
        <div style="margin-top: 6px">
            &nbsp;
            <button class="btn btn btn-success" onclick="add()">添加教师</button>
        </div>
    </div>

    <div>
        {if condition="count($teacher)>0"}
        <!--TODO 固定列宽-->
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <td class="text-center">编号</td>
                <td class="text-center">姓名</td>
                <td class="text-center">学校</td>
                <td class="text-center">电话</td>
                <td class="text-center">费用</td>
                <td class="text-center">操作</td>
            </tr>
            </thead>
            <tbody>
            {volist id="tea" name="teacher"}
            <tr>
                <td class="text-center">{$tea->tid}</td>
                <td class="text-center">{$tea->tname}</td>
                <td class="text-center">{$tea->school}</td>
                <td class="text-center">{$tea->phone}</td>
                <td class="text-center">{$tea->price}</td>
                <td class="text-center">
                    <button class="btn btn-xs btn-success"
                            onclick="mod('{$tea.tid}','{$tea.tname}','{$tea.school}','{$tea.phone}','{$tea.price}','{$tea.memo}')">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button class="btn btn-xs btn-danger" onclick="del('{$tea.tid}','{$tea.tname}')">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {else /}
        <script>alert("查无此人");
        window.location.href = "./";</script>
        {/if}
    </div>
</div>

<div style="text-align:center;">
    {$page}
</div>
<!-- 用户信息的modal -->
<div>
    <div class="modal fade" tabindex="-1" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="display: inline;" id="modal-title"></h4>
                    <button type="button" class="close" style="display: inline;" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <!--TODO 表单验证-->
                <form action=" " method="POST" id="modal-form">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                姓名:
                                <input type="text" name="tname" id="tname" class="form-control">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                学校:
                                <input type="text" name="school" id="school" class="form-control">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                联系电话:
                                <input type="text" name="phone" id="phone" class="form-control">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                课时费:
                                <input type="text" name="price" id="price" class="form-control">
                            </div>
                        </div>
                        <div>
                            备注:
                            <textarea name="memo" id="memo" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <input type="submit" class="btn btn-primary" id="mod" value="保存修改">
                        <input type="submit" class="btn btn-primary" id="add" value="添加老师">
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
<script>
    function mod(id, tname, school, phone, price, memo) {
        $('#tname').attr("value", tname);
        $('#school').attr("value", school);
        $('#phone').attr("value", phone);
        $('#price').attr("value", price);
        $('#memo').text(memo);
        $('#modal-title').text("修改信息");
        $('#modal-form').attr("action", "./mod/tid/" + id);
        $('#add').hide();
        $('#mod').show();
        $('#myModal').modal();
    }

    function add() {
        $('#tname').val(null);
        $('#school').val(null);
        $('#phone').val(null);
        $('#price').val(null);
        $('#memo').text(null);
        $('#modal-title').text("添加老师");
        $('#modal-form').attr("action", "./add");
        $('#mod').hide();
        $('#add').show();
        $('#myModal').modal();
    }

    function del(id, tname) {
        var flag = confirm("确定要删除老师 " + tname + " 吗？");
        if (flag)
            window.location.href = "./del/tid/" + id;
    }

    function ser() {
        if ($('#name').val())
            $('#ser').submit();
    }
</script>
</html>

